{{ define "slack.default.title" -}}
[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }} ({{ .CommonLabels.severity }})
{{- end }}

{{ define "slack.default.text" -}}
{{ range .Alerts -}}
*Alert:* {{ .Labels.alertname }}
*Severity:* {{ .Labels.severity }}
*Service/Job:* {{ if .Labels.service }}{{ .Labels.service }}{{ else }}{{ .Labels.job }}{{ end }}
*Instance:* {{ .Labels.instance }}
*Status:* {{ .Status }}
*Current value:* {{ .Annotations.current_value }}
*Summary:* {{ .Annotations.summary }}
*Dashboard:* {{ .Annotations.dashboard_url }}
*Runbook:* {{ .Annotations.runbook_url }}
*Started:* {{ .StartsAt }}
{{ end -}}
{{- end }}
